*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: block;
    text-align: -webkit-center;
}
table ul{
    list-style: none;
    text-align: center;
}
table {
    width: 90%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border: "0" ;
    margin: auto ;
    

}


.first-tr{background-color: rgb(238,238,238) ;
}

.box1{
    background-color: rgb(126,229,218)  ;
}
.box2{
    background-color: rgb(112,204,194);
    
}

.box3{
    background-color:  rgb(98,179,170) ;
}
.tr3 {
    text-align: center;
    margin-top: 50px;
}






 /* renk
.box1{
    background-color: rgb(126,229,218)  ;
    border-color: white;
    border: 5px;
}
.box2{
    background-color: rgb(112,204,194);
    
}
.box3{
    background-color:  rgb(98,179,170) ;
    border-color: white;
    border: 5px;
}
 

*/